<a href="https://colab.research.google.com/github/pondbaahh/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา Markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงนชานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas  #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [3]:
import pandas as pd #เหมือนกับข้างบน แต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (csv = comma separated values) เป็นไฟล์หลักที่ใช้กันในวิชานี้

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

    name  age      city
0    Tom   27  Khon Kaen
1   Paul   15   Bangkook
2  Sarah   49     London

In [6]:
data_df = pd.read_csv('data.csv')
data_df

    name  age      city
0    Tom   27  Khon Kaen
1   Paul   15   Bangkook
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อ

1. ชื่อห้ามมีเว้นวรรค
2. ใช้พยายามภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่เเตกต่างกัน(case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [7]:
variable_a = 12 
variable_b = 'abcde' # ' ตัวนี้เรียกว่า quote
variable_c = variable_a

In [8]:
variable_a

12

In [9]:
variable_b

'abcde'

In [10]:
variable_c

12

In [11]:
variable a = 6  #ชื่อห้ามวรรค

SyntaxError: ignored

In [13]:
#พยายามใช้ภาษาอังกฤษ 
# colab ใช้ชื่อภาษาไทยเป็นตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3  
ตัวแปร

3

In [14]:
#ตัวเล็กกับตัวใหญ่เเตกต่างกัน(case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [15]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [16]:
variable_a = 12 
variable_b = 'abcde' # ' ตัวนี้เรียกว่า quote
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [18]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [19]:
variable_a + variable_b

TypeError: ignored

In [20]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [21]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [22]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [23]:
V_X + variable_a #ตัวข้างหน้าเป็ฯ str ไม่สามารถเอาตัวเลขมาต่อได้

TypeError: ignored

In [24]:
 variable_a + V_X #ตัวเลขไม่สาารถเอา str มาต่อได้

TypeError: ignored

In [25]:
V_X

'-29.200000000000003'

In [26]:
float(V_X)

-29.200000000000003

## Data Structure
### list()

In [33]:
list_a = [1,2,0.2,'abs']   # [] squara brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [29]:
list_a

[1, 2, 0.2, 'abs']

In [35]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [36]:
len(list_b) #len เพื่อดูว่า list มีกี่ตัว

4

In [34]:
list_b[3]

[1, 2, 0.0]

In [37]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [39]:
a = 'Stat KKU'

In [40]:
a[4]

' '

## วิธีสร้าง list แบบที่ 2

In [41]:
list_c = list() #แบบที่1 
list_d = [] #แบบที่ 2

In [42]:
list_c

[]

In [43]:
list_d

[]

เติมค่าลงไปใน list(.append())

In [44]:
list_d.append('a')

In [45]:
list_d

['a']

In [46]:
list_d.append('56')

In [47]:
list_d

['a', '56']

การชี้ค่าใน list(indexing)



1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [48]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [49]:
list_b[-1]

[1, 2, 0.0]

####list slicing

สามารถเฉือนหรือเลือกบางส่วนของ list ออกมาได้

In [62]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะจัด list โดยเอาตั้งเเต่ [ตัวหน้า:ตัวก่อนตัวหลัง]  
ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า,ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [63]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [64]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [67]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [68]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [69]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [70]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [71]:
a

'Stat KKU'

In [74]:
a[-3:]

'KKU'

In [76]:
a[5::]

'KKU'

### list + list

In [77]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [78]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string



```python
f'string{ตัวแปร}'
```

In [81]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

##Loop


```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something
```

In [80]:
for  i in [1,2,3,4,5]:  
  print(i+1)

2
3
4
5
6

In [82]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [83]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [84]:
list(range(10)) #เอาเลขที่มาก่อนสิบ

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [87]:
for i in range(2,7,2): #เอาเลขที่กระโดดทีละ2
    print(i)

2
4
6

In [88]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [89]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

###Nested loop

loop ซ้อน loop

In [93]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

###Condition
#####Function