<a href="https://colab.research.google.com/github/pondbaahh/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา Markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงนชานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas  #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd #เหมือนกับข้างบน แต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (csv = comma separated values) เป็นไฟล์หลักที่ใช้กันในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15   Bangkook
2  Sarah   49     London

In [5]:
data_df = pd.read_csv('data.csv')
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15   Bangkook
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อ

1. ชื่อห้ามมีเว้นวรรค
2. ใช้พยายามภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่เเตกต่างกัน(case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12 
variable_b = 'abcde' # ' ตัวนี้เรียกว่า quote
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

In [12]:
variable a = 6  #ชื่อห้ามวรรค

SyntaxError: ignored

In [11]:
#พยายามใช้ภาษาอังกฤษ 
# colab ใช้ชื่อภาษาไทยเป็นตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3  
ตัวแปร

3

In [13]:
#ตัวเล็กกับตัวใหญ่เเตกต่างกัน(case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [14]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [15]:
variable_a = 12 
variable_b = 'abcde' # ' ตัวนี้เรียกว่า quote
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [16]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [17]:
variable_a + variable_b

TypeError: ignored

In [18]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [19]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [20]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [21]:
V_X + variable_a #ตัวข้างหน้าเป็ฯ str ไม่สามารถเอาตัวเลขมาต่อได้

TypeError: ignored

In [22]:
 variable_a + V_X #ตัวเลขไม่สาารถเอา str มาต่อได้

TypeError: ignored

In [23]:
V_X   #พิมพ์ชื่อตัวแปรธรรมดา

'-29.200000000000003'

In [24]:
float(V_X)  #เปลี่ยนมาเป็นตัวเลข

-29.200000000000003

## Data Structure
### list()

In [25]:
list_a = [1,2,0.2,'abs']   # [] squara brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [26]:
list_a

[1, 2, 0.2, 'abs']

In [27]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [28]:
len(list_b) #len เพื่อดูว่า list มีกี่ตัว

4

In [29]:
list_b[3]

[1, 2, 0.0]

In [30]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [31]:
a = 'Stat KKU'

In [32]:
a[4]

' '

## วิธีสร้าง list แบบที่ 2

In [33]:
list_c = list() #แบบที่1 
list_d = [] #แบบที่ 2

In [ ]:
list_c

In [35]:
list_d

[]

เติมค่าลงไปใน list(.append())

In [36]:
list_d.append('a')

In [37]:
list_d

['a']

In [38]:
list_d.append('56')

In [39]:
list_d

['a', '56']

การชี้ค่าใน list(indexing)



1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [40]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [41]:
list_b[-1]

[1, 2, 0.0]

####list slicing

สามารถเฉือนหรือเลือกบางส่วนของ list ออกมาได้

In [44]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะจัด list โดยเอาตั้งเเต่ [ตัวหน้า:ตัวก่อนตัวหลัง]  
ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า,ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [45]:
list_ex[1:6]  #ตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [46]:
list_ex[4:]  #เอาตั้งแต่ตัวที่ 4 ไปถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [47]:
list_ex[:6]  #เอาตั้งแต่ตัวแรกไปถึงก่อนตัววที่ 6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [48]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [49]:
list_ex[::2]  #โดดไปทีละ 2

[1, 3, 6, -1, 50]

In [50]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [51]:
a

'Stat KKU'

In [52]:
a[-3:]

'KKU'

In [53]:
a[5::]

'KKU'

### list + list

In [42]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [56]:
list_a + list_b  #เอาstring มาเรียงต่อกัน

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string



```python
f'string{ตัวแปร}'
```

In [57]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

##Loop

ทำงานซ้ำๆ หรือทำงานคล้ายๆกัน


```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something #in loop
    do another thing #in loop

do other things #out side loop
```

In [58]:
for  i in [1,2,3,4,5]:   
    print(i+1)
#i คือ1 เป็น 1+1ได้ 2 และวนไปที่ 2 เป็น 2+1 และวนไป 3 4 5 ไปเรื่อยๆ

2
3
4
5
6

In [59]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [60]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [61]:
list(range(10)) #เอาเลขที่มาก่อนสิบ

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
for i in range(2,7): #จุดเริ่มต้น,จุดสุดท้าย
    print(i)

2
3
4
5
6

In [63]:
for i in range(2,7,2): #จุดเริ่มต้น,จุดสุดท้าย,stepโดดทีละ 2
    print(i)

2
4
6

In [64]:
for i in range(5):
    print('hahaha') #วนลูปทำซ้ำ

hahaha
hahaha
hahaha
hahaha
hahaha

In [65]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

###Nested loop

loop ซ้อน loop

In [66]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

###Condition (if statement)

ประโยคเงื่อนไง



```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
   ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
   ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [67]:
stringx = 'jfgosjghogogsogorgosdioghesogheosgnusg'

if len(stringx) >30:
   print(f'{stringx} is longer than 30 characters')

jfgosjghogogsogorgosdioghesogheosgnusg is longer than 30 characters

In [68]:
stringx = 'jfgosjghogogsogorgosdioghesogheosgnusg'

if len(stringx) >100:
   print(f'{stringx} is longer than 30 characters')

   #ถ้าค่าไม่มากกว่าหรือน้อยกว่าค่ารันก็จะไม่ออกมา

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
   ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
   ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไงข้างบนแล้วไม่เป็นจริง
   ทำงานที่ X
```

In [69]:
stringx = 'jfgosjghogogsogorgosdioghesogheosgnusg'

if len(stringx) >100:
   print(f'{stringx} is longer than 30 characters')
else:
   print(f'{stringx} in {len(stringx)}characters long')

   #ค่านี้มีความยาวเท่ากับ 38

jfgosjghogogsogorgosdioghesogheosgnusg in 38characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
   ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
   ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้า เงื่อนไขข้างบนไม่เป็นจริง:
   ถ้าเงื่อนไขเป็นจริง ทำงาน a1 
   ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้า เงื่อนไขข้างบนไม่เป็นจริง:
   ถ้าเงื่อนไขเป็นจริง ทำงาน b1 
   ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไงข้างบนแล้วไม่เป็นจริง
   ทำงานที่ X
```

In [70]:
password = '12345'

input_pass = '123sf'
if input_pass == password: #input ที่ใส่เข้ามาตรงกับ password ไหม?
  print('welcom!') #พิมพ์ถูกเข้ามาได้จะ welcome
elif len(input_pass) > len(password): #เช็คความยาวของรหัส
  print('Too long, try again!')  #บอกใบ้ว่ารหัสที่ใส่มายาวไป
elif len(input_pass) < len(password): 
  print('Too short, try again!') #บอกใบ้ว่ารหัสที่ใส่มาสั้นไปไป
else:
  print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [71]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยกว่าที่สุดใน list_ex โดยไม่ใช้ function min

In [72]:
list_ex[-3]

-19

เฉลย quiz

In [73]:
min = 10000000000  #กำหนด min ขึ้นมา
for i in list_ex:
  if i < min:
    min = i
print(min)

-19

In [74]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

HW3 ตัดเกรด

In [82]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [85]:
for i in score:

  if i >= 80:
    print(f'{i} คะแนน = เกรด A')
  elif i >= 75 and i < 80:
    print(f'{i} คะแนน = เกรด B+')
  elif i >= 70 and i < 75:
    print(f'{i} คะแนน = เกรด B')
  elif i >= 65 and i < 70:
    print(f'{i} คะแนน = เกรด C+')
  elif i >= 60 and i < 65:
    print(f'{i} คะแนน = เกรด C')
  elif i >= 55 and i < 60:
    print(f'{i} คะแนน = เกรด D+')
  elif i >= 50 and i < 55:
    print(f'{i} คะแนน = เกรด D')
  else:
    print(f'{i} คะแนน = เกรด F')

49 คะแนน = เกรด F
65 คะแนน = เกรด C+
70 คะแนน = เกรด B
95 คะแนน = เกรด A
82 คะแนน = เกรด A
55 คะแนน = เกรด D+
89 คะแนน = เกรด A
20 คะแนน = เกรด F
77 คะแนน = เกรด B+
77 คะแนน = เกรด B+
81 คะแนน = เกรด A
59 คะแนน = เกรด D+
10 คะแนน = เกรด F

###Function